@font-face {
  font-family: "shogun";
  src: url(/assets/fonts/shoguns.ttf);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/background/cyberpunk-back.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.game-over {
  font-family: "shogun";
  font-size: 180px;
  color: rgb(231, 0, 0);
}

.score-display {
  font-family: "shogun";
  font-size: 60px;
  color: rgb(231, 0, 0);
}
